html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
}

header {
    height: 100px;
    .container {
        min-height: 100%;
        .row {
            min-height: 100px;
        }
    }
    background-color: $main-background;
    .header_nav {
        &_list {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0;
            &_item {
                margin-right: 10px;
                padding-right: 10px;
                border-right: 2px solid black;
                :hover {
                    transition: all 0.2s ease-in;
                    opacity: 0.7;
                }
                a {
                    text-decoration: none;
                    color: $text-color-base;
                    font-weight: 400;
                    font-size: 30px;

                }
            }

            .dropdown {
                font-weight: 400;
                a {
                    font-size: 22px;
                    .dropdown-toggle {
                        background-color: $main-background;
                        border: none;
                    }
                }

                ol {
                    font-size: 30px;
                }
            }

            :last-child {
                margin-right: 0;
                padding-right: 0;
                border: 0;
            }
        }
    }
}

.subheader-starting {
    background: url(../img/background/main-background.jpg) center center/cover no-repeat;
    height: 990px;
    color: $text-color-base;
    &_row {

        &_text {
            padding-top: 170px;
            max-width: 700px;
            h1 {
                font-size: 100px;
                font-family: "Playfair Display", serif;
                font-weight: 600;
            }

            &_subtitle {
                margin-top: 40px;
                font-size: 26px;
                font-weight: 400;
                letter-spacing: 0.7px;
            }

            &_btn {
                margin-top: 40px;
                width: 240px;

                display:  flex;
                background-color: #dc3545;
                border-radius: 30px;
                justify-content: center;
                text-decoration: none;
                color: $text-color-base;
                font-size: 30px;
                
                transition: all 0.2s ease-in;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

input {
    padding: 5px 10px;
}

textarea {
    padding: 5px 10px;
}

.contact-with-us {
    padding-bottom: 170px;
    &_container {
        padding: 40px 80px;
        h2 {
            font-weight: 900;
            font-size: 52px;
            text-align: center;
        }

        &_form {
            margin-top: 30px;
            form {
                display: flex;
                flex-direction: column;
                font-size: 30px;
                .name-row {
                    display: flex;
                    justify-content: space-between;
                    .row {
                        margin: 0;
                        width: 100%;
                        h3 {
                            font-size: 36px;
                        }
                        input {
                            max-width: 600px;
                        }

                        .name-row_firstname {
                            display: flex;
                            flex-direction: column;
                            padding-left: 0;
                        }

                        .name-row_lastname{ 
                            display: flex;
                            flex-direction: column;
                            padding-left: 100px;
                            padding-right: 0;
                        }
                    }
                }
                .textarea-row {
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
 
                    h3{ 
                        font-size: 36px;
                        &:nth-child(3) {
                            margin-top: 20px;
                        }
                    }
                    textarea {
                        min-height: 160px;
                        resize: none;
                        font-size: 24px;
                    }
                }
                input[type="submit"] {
                    background-color: $main-background;
                    border: 0;
                    color: $text-color-base;
                    margin: 0 auto;
                    margin-top: 55px;
                    transition: all 0.1s ease;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}

footer{ 
    background-color: $main-background;
    height: 170px;
    margin-top: -170px;
    display: flex;
    align-items: center;

    .footer-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 { 
            color: $text-color-base;
        }
        a {
            position: relative;
            color: $text-color-base;
            text-decoration: none;
            font-size: 30px;

            &::before{
                content: url(../icons/social-icons/email-icon.png);
                position: absolute;
                left: -40px;
                top: 3px;
            }
        }
    }
}

// .footer-registration {
//     display: block;
// }

.header_logo-reg {
    display: flex;
    justify-content: center;
}
.log-reg {
    padding: 40px 0 210px 0;
}

.login-form-container, .registration-form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 65px;

    box-shadow: 0px 0px 33px 6px rgba(34, 60, 80, 0.19);
    min-height: 550px;
    background-color: #f4f4f4;
    background-image: linear-gradient(90deg, #f4f4f4 0%, #ffffff 100%);
    border-radius: 10px;

    h1 {
        font-size: 66px;
        font-weight: 900;
        color: $main-background;
    }

    .login-form {
        display: flex;
        flex-direction: column;

        input {
            font-size: 28px;
            padding: 5px 25px;
            border: 2px solid #9e9e9e;
            border-radius: 20px;
        }

        input[type="submit"] {
            transition: all 0.1s ease;
            border: 3px solid $main-background;
            &:hover {
                background-color: #838383;
                color: #ffffff;
            }
        }

        * + * {
            margin-top: 30px;
        }

        &_registration-link {
            display: flex;
            justify-content: center;
            font-size: 22px;
            a {
                margin-left: 8px;
            }
        }
    }
    &_back-link {
        position: absolute;
        bottom: 20px;
    }
}

.portfolio {
    background-color: #fff;
    padding-bottom: 170px;

    .portfolio-container {
        height: 100%;
        position: relative;

        .bck-change {
            position: absolute;
            cursor: pointer;
            right: 6px;
            top: 10px;
        }
        
        .container {
            padding: 0;
            background-color: #cccccc;

        }

        &_info {
            display: flex;
            justify-content: space-around;
            padding: 20px 20px;

            box-shadow: $main-shadow;

            &_image {
                max-width: 170px;
                font-size: 36px;
                &_img {
                    border: 2px solid black;
                    background-color: #fff;                    
                }
                
                &_contacts {
                    
                    &_collapse-btn {
                        position: relative;
                        
                        background-color: $text-color-base;
                        cursor: pointer;
                        border-bottom: 3px solid $main-background;
                        padding: 3px 10px 3px 0;
                        text-align: center;

                        &::after {
                            content: url(../icons/portfolio/arrow-right.svg);
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    &_collapse-block {
                        background-color: $text-color-base;
                        border-radius: 0 0 10px 10px;
                        box-shadow: $main-shadow;

                        ul {
                            padding-left: 0;
                            list-style-type: none;
                        }

                        &_contact {
                            padding: 4px 10px 3px 10px;

                            h3, p {
                                margin: 0;
                            }

                            .contact-name {
                                font-size: 24px;
                                font-weight: 900;
                            }

                            .contact-link {
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

            &_text-content {
                display: flex;
                flex-direction: column;
                &_username {
                    font-size: 58px;
                    font-weight: 900;
                    margin: 0;
                    align-self: flex-end;
                }

                &_name {
                    margin: 0;
                    font-size: 40px;
                    align-self: flex-end;
                    margin-top: 10px;
                }

                &_descr{ 
                    max-width: 100%;
                    border: 1px solid #000;
                    padding: 10px;
                    margin-top: 20px;
                    font-size: 22px;
                    background-color: #fff;
                }
            }
        }
    }

    
}