@media (max-width: 1200px) {
    header {
        .header_nav {
            &_list {
                li {
                    a {
                        font-size: 40px;
                    }
                }

                .dropdown {
                    a {
                        font-size: 38px;

                    }

                    ol {
                        padding: 10px 15px;
                    }
                }
            }
        }
    }

    .portfolio {
        .portfolio-container {
            .sections {
                .section {
                    &_block {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }
        }
    }

    .subheader-starting {
        &_row {
            &_text {
                max-width: 100%;
                padding: 100px 0;
                h1 {
                    font-size: 110px;
                }

                &_subtitle {
                    font-size: 40px;
                    letter-spacing: 0.8px;
                }

                &_btn {
                    font-size: 70px;
                    border-radius: 50px;
                    width: 320px;
                }
            }
        }
    }

    .contact-with-us {
        &_container {
            padding: 20px 20px;
            h2 {
                font-size: 64px;
            }

            &_form {
                form {
                    input {
                        padding: 15px 20px;
                        margin-top: 20px;
                    }
                    .name-row {
                        .row {
                            h3 {
                                font-size: 48px;
                            }
                        }
                    }

                    .textarea-row {
                        h3 {
                            font-size: 48px;
                        }
                    }
                }
            }
        }
    }
    .main {
        .profile-container {
            .container {
                .section {
                    &_block {
                        grid-template-columns: repeat(3,1fr);
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
// HAMBURGER 
.hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    width: 80px;
    height: auto;
    z-index: 999;
    right: 0;
    span {
        display: block;
        height: 6px;
        width: 100%;
        background-color: $text-color-base;
        transition: 0.5s all;
    }
    span + span {
        margin-top: 8px;
    }
    &_active {
        span {
            &:nth-child(2) {
                transform: rotate(-45deg);
            }
            &:nth-child(1) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(45deg);
            }
        }
        span + span {
            margin-top: -6px;
        }
    }
}
// ----------

    header {
        .container {

            .row {
                .header_nav {
                    display: none;
                }
            }

        }
        .header_logo {
            a {
                text-align: center;
            }
        }

    }

    .subheader-starting {
        &_row {
            &_text {
                padding: 40px 0 60px 0;
                &_subtitle {
                    font-size: 44px;
                }
            }
        }
    }

    .contact-with-us { 
        &_container {
            &_form {
                form {
                    .name-row {
                        .row {
                            .name-row_firstname {
                                padding-right: 0;
                            }
                            .name-row_lastname {
                                padding-left: 0;
                                margin-top: 20px;
                            }
                            input {
                                max-width: none;
                                padding: 20px 25px;
                            }
                        }
                    }
                    
                    .textarea-row {
                        margin-top: 20px;
                    }

                    input[type="submit"] {
                        padding: 25px 20px;
                    }
                }
            }
        }
    }

    footer {
        height: 240px;
        .row {
            .footer-row {
                flex-direction: column;

                h2, a {
                    padding: 20px 5px;
                    font-size: 38px;
                }

                h2 {
                    margin: 0;
                }

                a {
                    &:before {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }      

    .portfolio {
        .portfolio-container {
            &_info {
                &_text-content {
                    padding-left: 30px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .hamburger {
        width: 70px;
        right: -20px;
    }

    .subheader-starting {
        &_row {
            padding: 0;
            &_text {
                width: 100%;
                h1 {
                    font-size: 90px;
                    text-align: center;
                }

                &_btn {
                    margin: 25px auto 0 auto;
                }
            }
        }
    }

    .features {
        &_container {
            .row {
                .card {
                    .card-body {
                        h4 {
                            font-size: 42px;
                        }
    
                        p {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }

    .contact-with-us{ 
        &_container {
            padding: 20px 0;            
        }
    }

    .portfolio {
        .portfolio-container {
            .sections {
                .section {
                    &_block {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }

            &_info {
                flex-direction: column;
                align-items: center;

                &_text-content {
                    margin-top: 25px;
                    align-items: center;
                    padding-left: 0;

                    h2, h3 {
                        align-self: center;
                    }

                    &_descr {
                        align-self: stretch;

                        img {
                            padding: 14px;
                        }
                    }
                }
            }
        }
    }
    .main {
        .profile-container {
            .container {
                .section {
                    &_block {
                        grid-template-columns: repeat(2,1fr);
                    }
                }
            }
        }
    }
}


@media (max-width: 576px) {
    .hamburger {
        width: 70px;
        right: 0;
    }

    header {
        .row {
            .header_logo {
                a {
                    img {
                        transform: scale(0.6);
                    }
                }
            }
        }
    }

    .subheader-starting {
        &_row {
            padding: 0;
            &_text {
                padding: 20px;
                width: 100%;
                h1 {
                    font-size: 3rem;
                    text-align: center;
                }

                &_subtitle {
                    font-size: 30px;
                    text-align: justify;
                }

                &_btn {
                    width: 260px;
                    font-size: 60px;
                }
            }
        }
    }

    .features {
        &_container {
            h2 {
                @include h2TemplateSM
            }
        }
    }

    .contact-with-us {
        &_container {
            h2 {
                @include h2TemplateSM
            }
            &_form {
                form {
                    .name-row {
                        .row {
                            .name-row_firstname {
                                h3 {
                                    font-size: 40px;
                                }
                            }

                            .name-row_lastname {
                                h3 {
                                    font-size: 40px;
                                }
                            }
                        }
                    }

                    .textarea-row {
                        h3 {
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }

    footer {
        .container {
            .row {
                .footer-row {
                    a {
                        font-size: 28px;
                    }
                }
            }
        }
    }

    .log-reg {
        .login-form-container, .registration-form-container {
            h1 {
                font-size: 38px;
            }

            .login-form {
                input[type="submit"] {
                    font-size: 16px;
                }
            }
        }
    }

    .portfolio {
        .portfolio-container {
            .sections {
                .section {
                    &_block {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }
            }
        }
    }
    .main {
        .profile-container {
            .container {
                .section {
                    &_block {
                        grid-template-columns: repeat(1,1fr);
                    }
                }
            }
            &_info {
                flex-direction: column;
                align-items: center;
                &_text-content > * {
                    text-align: center;
                    word-break: break-all;
                }
                &_text-content {
                    &_username {
                        align-self: center;
                    }
                    &_email {
                        align-self: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .portfolio {
        .portfolio-container {
            &_info {
                &_text-content {
                    &_username {
                        font-size: 40px;
                    }

                    &_name {
                        font-size: 34px;
                    }
                }
            }
        }

    }
}